@import "../../../themes/generated/variables.base.scss";

.DialogActions {
  position: relative;
  width: 100%;
}
.DialogActions button:first-child {
  position: absolute;
  left: 30px;
  bottom: 10px;
}
