.jewish-date-style {
  height: 35px;
  color: #333;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif;
  line-height: 2.15715;
}